CLOUD_PATH=              # path to the next cloud config Folder
TIME_ZONE='Asia/Kolkata' # edit if need be
EURO_OFFICE_PATH=/mnt/hdd01/nextcloud/euro-office
EURO_OFFICE_JWT_SECRET=  # generate with: openssl rand -hex 32
