ARR_PATH=    # path to your ARR Stack Folder

PUID=1000    # either type id on the terminak to get the PID & GID and change it or run chown -r 1000 ARR_PATH 
PGID=1000
TZ="Asia/Kolkata"  # India Time Zome chage if need be