SEARXNG_PATH=               # path to the searxng config folder (e.g. /home/taf/searxng)
SEARXNG_SECRET=             # generate with: openssl rand -hex 32
TIME_ZONE='Asia/Kolkata'    # edit if need be
